.AboutContainer{
width:70%;
margin: 3rem auto;
color:#957DAD;
 }
 .AboutContainer h3{
  
  border-bottom: 1px solid gray;
  text-align: left;
  padding: .5rem 0;


 }
 .AboutContainer p{
  color:#3D3D3D;

 }
 