.HomeContainer{
margin-top: 3rem;
text-align: center;
}
.HomeContainer h1{
 color:#957DAD;
 font-size: 10rem !important;
}
.HomeContainer p{
 color:#3D3D3D;
 font-size:2rem;
}

.links {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 0.9rem;

}

.links a{
color: white;
background-color: #3D3D3D;
text-decoration : none;
padding: 0.5rem 0.8rem;
border-radius:0.5rem;
}

.links a:hover{
 color: white;
opacity: 0.9;

 }