.HomeContainer{
margin-top: 3rem;
}
h1{
 color:#B284BE;
 font-size: 10rem !important;
}
p{
 color:#908378;
 font-size:2rem;
}

.links {
 display: flex;

 justify-content: center;
 flex-wrap: wrap;
gap: 0.9rem;

}

.links a{
color: white;
background-color: #908378;
text-decoration : none;
padding: 0.5rem 0.8rem;
border-radius:0.5rem;
}

.links a:hover{
 color: white;
opacity: 0.9;

 }